html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  margin-bottom: 0;
  background-color: black;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(23, 22, 23); */ 
  /* border-style: dotted; */
   /* border-color: rgb(250, 107, 207); */
  /* border-width: 10px;  */
  /* padding: 2vw; */
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: pink;
  /* border-style: dotted; */
   /* border-color: rgb(250, 107, 207); */
  /* border-width: 10px;  */
  /* padding: 2vw; */
/* } */ 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Myfont';
  src: url(../chocolate-dealer-font/ChocolatedealerBold-534x.otf);
  background-color: pink;
  /* background-image: src("https://media1.giphy.com/media/xvZOuJeLij0W9IwCdH/giphy.gif"); */
}

.home {
  margin: auto;
  text-align: center;
  /* margin-left: 11vw; */
  /* background-color: pink; */
  min-height: 100vh;
  background-image: url("https://media1.giphy.com/media/xvZOuJeLij0W9IwCdH/giphy.gif");
  background-size: 120vw;
  background-position: -10vw;
  background-position-y: -63vh;
  background-color: black;
  
  /* background-position-x: -10vw; */
  /* transform:translate(0, -10); */


}
.container {
  
  /* height: 100vh; */
  width: 100%;

  /* margin-right: 220vw; */
  /* margin: auto; */
  margin-top: 10vh;
  /* margin-bottom: 10vh; */
  /* margin-right: -10vw; */
  display: flex;
  margin: auto;
  /* flex-direction: column; */
  display: inline-block;
  align-items: center;
  text-align: center;
  min-height: 10vh;
  margin-bottom: 10vh;

  /* background-image: url("https://media1.giphy.com/media/xvZOuJeLij0W9IwCdH/giphy.gif"); */
  /* background-size: 100%, 100vh; */
  /* margin-left: 200vw; */
  /* float: right; */
  /* justify-content: center; */
}
.col-sm {
  /* background-color: rgb(226, 131, 188); */
  background-color: rgba(81, 20, 30, 0.203);
  margin: 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Myfont';
  font-size: 2vw;
}
/* .row {
  /* margin-left: 20vw; */
.toType {
  white-space: pre-wrap
}
path {
  fill: transparent;
  /* text-align: center; */
}
.imagez {
  /* border-radius: black solid 50%; */
  /* border: black solid 1px; */
  /* width: 20vw; */
  /* height: 20vw; */
  margin: auto;
  justify-content: center;
  text-align: center;
  /* margin-left: 25vw; */
  /* margin-bottom: 6vh; */

}
.inner {
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  border: rgb(81, 28, 83) solid 2px;
}
.tit {
  text-align: center;
  font-size:3.7vw;
  text-shadow: 3px 3px 3px rgba(234, 216, 232, 0.2);
  font-family: 'Myfont';
  transform: translate(2vw, -30vh);
  /* margin-top: -5vh; */

}
.hTitNew {
  font-size: 5vw;
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
  text-align: center;
  font-family: 'Myfont';
  /* margin-top: 10vh; */
}
.card {
  outline: 2px solid rgb(77, 18, 62);
  padding: 2%;
  background-color: rgba(81, 20, 30, 0.203)   ;
  width: 80%;
  /* margin-right: 20%; */
  margin: auto;
  /* margin-right: 20vw; */
  /* text-align: left; */
  /* text-align: center; */
  box-shadow: 2px 2px 2px 2px rgba(79, 21, 74, 0.2);
  /* padding-top: 5vw; */
  /* margin-top: 2%; */
  margin-bottom: 2%;
  font-size: 1vw;
  /* margin-left: 20%; */
  
}
.blog {
  background-color: pink;
  /* height: 100vw; */
  min-height: 90vh; 
  /* font-family: 'Myfont'; */
}
.h1New {
  font-size: 10vw;
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
  text-align: center;
  font-family: 'Myfont';
}
.h2New {
  font-size: 8vw;
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
  text-align: center;
  font-family: 'Myfont';
}
.h3New {
  font-size: 7vw;
  /* margin-top: 5vh;
  margin-b
  ottom: 5vh; */
  text-align: center;
  font-family: 'Myfont';
  margin-top: 0vh;
}

@media screen and (max-width: 1200px) {
  .h1New {
    font-size: 9vw;
  }
  .h2New {
    font-size: 12vw;
  }
  .h3New {
    font-size: 14vw;
  }
  .inner {
    width: 40%;
    height: 40%;
    /* margin-top: 9. 5vh; */
    /* transform: translate(0, -10vh); */
    /* make bigger */
    

  }
  @font-face {
    font-family: 'Myfont';
    font-size: 2vw;
    background-position: 2vw;
    src: url(../chocolate-dealer-font/ChocolatedealerBold-534x.otf);

  }

}
  

ul {
  margin-top: 0;
}

.post {
  min-height: 90vh;
}
.card2 {
  outline: 1px solid black;
  padding: 2%;
  background-color: rgba(81, 20, 30, 0.203)   ;
  width: 70%;
  height: 100%;
  /* margin-right: 20%; */
  margin: auto;
  /* text-align: left; */
  /* text-align: center; */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  /* padding-top: 5vw; */
  /* margin-top: 2%; */
  /* margin-bottom: 20vh; */
  margin-top: 5vh;
  /* margin-left: 2%; */
  font-size: 1vw;
  min-height: 70vh;

  /* margin-left: 20%; */
  
}

.p2 {
  font-size: 2vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  /* text-align: center; */
  /* font-family: 'Myfont'; */
}
.title {
  /* font-size: 4vw; */
  /* margin-top: 2vh;
  margin-bottom: 1vh; */
  /* text-align: center; */
  /* font-family: 'Myfont'; */
  /* white-space: pre-wrap; */
  /* margin-top: -10vh; */
  margin-bottom: -10vh;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2vw;
  }

}

.cont2 {
  /* margin-left: 16vw; */
  margin: auto;
  width: 65vw;
  padding-bottom: 2vw;
}
.row {
  /* margin-left: 0vw;
  margin-right: 0vw; */
  /* width: 60vw; */
  /* padding-bottom: 2vw; */
  /* border-right: solid 1px black;
  border-left: solid 1px black; */
  /* border-: solid 1px black; */
  /* width: 20vw; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Myfont';
  font-size: 2vw; */
}

.col-md {
  margin-left: 0vw;
  margin-right: 0vw;
  text-align: center;
  /* padding-bottom: 2vw; */

  /* max-width: 4vw; */
  /* border-right: solid 1px black;
  border-left: solid 1px black; */
  /* border-: solid 1px black; */
  /* width: 20vw; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Myfont';
  font-size: 2vw; */
}
.resume {
  min-height: 73vh;
  /* margin-left: 1vw;
  margin-right: 1vw; */
  
}
.resuma {
  margin-left: 1vw;
  margin-right: 1vw;
  max-height: 90vh;
  /* min-height: ; */

}

.title2 {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
    position: relative;
    color: hsl(0, 0%, 68%);
    font-weight: bold!important;
    font-family: "Anonymous Pro", monospace!important;
    letter-spacing: 7px!important;
    overflow: hidden;
    border-right: 2px solid hsl(0, 0%, 80%);
    white-space: nowrap;
    white-space: pre-wrap
}

.card {
  /* width: 20vw; */
}
.projects {
  min-height: 90vh;
  min-width: 100vw;
  /* margin-left: 2vw; */
  /* margin-right: 2vw; */
  /* padding-right  : 2vw; */
  margin-top: -1.5vw;
  display: inline-block;
  /* padding-top: -2vw; */
} 

.col2 {
  /* margin-left: 1vw; */
  /* width: 70%; */
  /* padding: 0px -7.5px; */
  /* display: block-inline; */
  width: 80vw;
  /* height: 10vh; */
  /* margin-left: 2vw; */
  margin-right: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin: auto;
  
  /* display: inline-block; */
  

  
}
.card2 {
  /* margin-right: -10vw; */
  /* width: 20vw; */
/* height: 2px; */
  /* max-height: 2vh; */
  min-height: 15vh;
  outline: 2px solid rgb(77, 18, 62);
  margin-bottom: 3vh;
  margin-top: 3vh;
  margin: auto;
  /* margin-block-end: 20vh; */
  /* display: flex; */
  
  margin: 2vw;
  min-width: 70vw;

  
  /* min-width: 30vw; */
  
  /* margin-block-start: 5vh; */
  /* padding: 5vw; */
}
.card-body {
  display: flex;
}
.row2 {
  /* float: left; */
  /* text-align: left; */
  /* margin-left: -10vw; */
  /* display:block-inline; */
  /* height: 5vh; */
  /* display: flex;
  
  flex-direction: row; 
  justify-content: flex-end; */
  /* display: flexbox; */
  min-height: 40%;
  padding: -2vw;
  margin: auto;
  margin-bottom: 3vh;
  
  

}
.footer {
  padding-top: 7vh;
  min-height: 10vh;
}
.btn {
  margin-right: 2vw;
  /* margin-bottom: 0200vh; */
  color: rgb(172, 56, 147);
  border: 3px solid rgb(172, 56, 147);
  max-height:4vh;
  /* box-shadow:3p rgb(172, 56, 147);; */
  /* background-color: pink; */
}
.btn2 {
  
}
.rightside {
  /* flex-basis:  */
  float: right;
  text-align: right;
  margin-top: 2vw;
  flex-basis:30%;
  /* margin-bottom: 2vw; */
  
  /* margin-left: 2vw; */
}
.leftside {
  flex-basis: 80%;
  white-space: pre-wrap
  /* margin-right: 2vw; */
}
.a {
  /* margin-left: 2vw; */
  /* margin-right: 2vw; */
  margin-top: 2vw;
 
}
.btn.btn-light {
  color: rgb(172, 56, 147);
  background-color: rgba(239, 195, 226, 0.337);
  border: 3px solid rgb(172, 56, 147);
  max-height:4vh;
  margin-bottom: 2vh;
  /* box-shadow:3p rgb(172, 56, 147);; */
  /* background-color: pink; */
}
